/*rejestracja.php/logowanie.php*/



.all {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    align-items: center;
    background-image: url(cool-background.png);
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}


.all {
    width: 450px;
    background: purple;
    color: white;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0 , 0 .2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px 40px;
}


.all h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}


.all .txt-field {
    position: relative;
    width: 100%;
    height: 50px;
    background: salmon;
    margin: 30px 0;
}


input {
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px;
    margin-bottom: 12px;
}


input::placeholder {
    color: #ffffffaf;
}


.all .submit{
    width: 100%;
    background: white;
    border: 3px solid white;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0 , 0 .1);
    cursor: pointer;
    font-size: 17px;
    color: #333;
    font-weight: 600;
    margin: auto;
    text-decoration: none;
    padding: 15px 45px;
    margin-bottom: 0;
    transition: 0.5s;
}


.rejestracja{
    text-decoration: none;
    text-align: center;
}




.submit:hover{
    border-radius: 40px;
    font-weight: 600;
    transform: scale(1.08);
    cursor: pointer;
}